.education{
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  margin: 200px;
  align-items: center;
}
.education > h1{
  padding-bottom: 20px;
}

.education__info{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap:3rem;
  margin-top: 2rem;
}