
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');
.education1{
    display: flex;
    flex-direction: column;
    border: 2px dotted white;
    border-radius: 10px;
    width: 350px;
    height: 200px;
    justify-content: center;
    align-items: center;
    background-color: black;
    overflow: hidden;
    line-height: 1.5rem;

}

.education1 > h2{
    font-family:Roboto Slab ;
    font-size: 16px;
    letter-spacing: 1px;

}
.education1 > p{
     font-family:Roboto Slab ;
    font-size: 11px;
    letter-spacing: 1px;
}
.education1 > h5{
    font-family:Lora;
    font-size: 15px;
    letter-spacing: 1px;
    
}
